@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Audiowide|Monoton");

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$aside-border-color: $brown;

// header
$navbar-height: 3rem;

// footer
$footer-height: 1.5rem;
$footer-padding: 0.15rem;
$footer-background-color: $purple;

@import "../../node_modules/bulma/bulma.sass";

* {
  box-sizing: border-box;
}

body {
  font-family: "Audiowide", cursive;
}

/* React Burger CSS */
#react-burger-container {
  margin-top: $navbar-height + 0.75rem;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}


/* hide the bm burger icon and use bulma icon */
.bm-burger-button {
  display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-overlay {
  height: calc(100% - #{$navbar-height} - #{$footer-height}) !important;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: calc(100% - #{$navbar-height} - #{$footer-height}) !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* End React Burger CSS */

nav {
  .navbar-item {
    color: $beige-lighter;

    .title {
      font-family: "Monoton", cursive;
      color: $beige-lighter;
    }

    .subtitle {
      color: $beige-lighter;
    }

    strong {
      color: $beige-light;
    }
  }
}

.button {
  &.icon {
    height: 2em;
    width: 2em;
    font-size: 1.5em;

    &.is-primary {
      color: $grey-light;
    }
    
  }
}

footer.footer {
  width: 100%;
  height: $footer-height;
  padding: $footer-padding;
  color: $beige-light;
  font-size: x-small;
  position: fixed;
  bottom: 0;
}

.dashboard {
  & > .tile {
    background-color: aqua;
    margin: 0.25rem;
  }
}
